<%= render 'home/nav' %>
<div class="container pt-4 mt-5">
<div class="group-number mb-5 bg-white d-flex px-3 bg-white justify-content-between">
  <p>Number of payments</p>
  <p><%= @items.count %></p>
</div>
    <div class="pt-4">
        <% @items.includes([:group]).each do |item| %>
          <div class="card mb-4">
            <div class="card-body row align-items-center"">
                <div class="d-flex col-9 ">
                      <% if item.group_id %>
                      <%= image_tag item.group.image_url, class:"img-fluid p-1 group-image border border-2 item-icon" %>
                      <% else %>
                      <img src="https://via.placeholder.com/100" alt="icon" class="border border-1 item-icon "> 
                      <% end %>
                    <p class="px-3 p-md-3 align-self-center">
                      <strong class="d-block mb-3 mb-md-3 capitalize"> <%= item.name %> </strong>
                      <% if item.user_id %>
                      <strong class="d-block mb-3 mb-md-3 capitalize"> Added by: <%= @user.username %> </strong>
                      <% end %>
                      <strong class="d-block"><%= item.created_at.strftime("%d %b %Y") %> </strong>        
                    </p>
                </div>
                <div class="col-3 text-end">
                  <p class="card-text  mb-4"><%= number_to_currency(item.amount) %></p>
                  <%= button_to "Delete", item, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
                </div>
          <% end %>
    </div>
</div>

<%= link_to "Back to Groups", groups_path, class:"btn text-white mb-2 submit-btn" %>
    <%= button_to "Delete Group", @group, method: :delete, class:"btn btn-outline-danger d-inline" %>